# 创建.gitignore文件，忽略一些文件，使其不会 出现在跟踪列表中

# 忽略所有 .a文件
*.a

# 但跟踪所有的 lib.a，即使你在前面忽略了 .a 文件
!lib.a

# 在前面加 /，防止递归，只忽略当前目录下的 TODO 文件，而不忽略 subdir/TODO
/TODO

# 忽略任何目录下名为 build 的文件夹
build/

# 忽略 doc/notes.txt，但不忽略 doc/server/arch.txt
doc/*.txt

# 忽略 doc/ 目录及其所有子目录下的 .pdf 文件
doc/**/*.pdf

# 忽略style.css
style.css

# 忽略text/下的所有文件
text/